{% if prepend %}
    {% if append %}
        <div class="input-prepend input-append">
            <span class="add-on">{{ prepend }}</span>{{ field }}<span class="add-on">{{ append }}</span>
        </div>
    {% else %}
        <div class="input-prepend" width=5px>
            <span class="add-on">{{ prepend }}</span>{{ field }}
        </div>
    {% endif %}
{% else %}
    {% if append %}
        <div class="input-append">
            {{ field }}<span class="add-on">{{ append }}</span>
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endif %}
