{% extends "plain_base.html" %}

{% block content %}
<div>
<h2>Constraints</h2>
</div>
<table border=2 style="width:400px;">
<div>
{% cycle 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17 as types silent %}
{% for resource in resources %}
<TR>
    <TH>{{resource}}</TH>
    <TD>
      <INPUT TYPE="number" value = "0" NAME="{{types}}" SIZE="6" min="0">
    </TD>
    <TD>
      <INPUT TYPE="number" value = "0" NAME="{{types}}u" SIZE="6" min="0">
    </TD>
    {%cycle types %}
</TR>
{% endfor %}
</div>
</table>
<button type="submit" form="budget" id="budgetPost" value="Submit" style="float:top;"onClick="#">Submit</button>
{% endblock %}
