<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> The Indian Energy Game </title>
    <meta name="description" content="">
    <meta name="author" content="Anisha Nazareth and Yashvanth Kondi">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script-->
    <script src="jquery-1.11.1.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container">
<a href="/" style="color:red;">Log Out</a>
    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

<div style="float:bottom;padding-top:30px;">

    <footer class="row" style="position:fixed;bottom:0px;right:60px;">
        <div class="span6" style="text-align:right">
            <p>
<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br>
<a href="fieldsofview.in">Fields of View 2014</a>
            <p> <a href="https://bitbucket.org/ykondi/the-indian-energy-game">Indian Energy Game</a></p>
            </p>
        </div>
    </footer>
</div>
</div> <!-- container -->
</body>
</html>
