{% extends "base.html" %}

{% block content %}


<h1> Which session do you want to participate in? </h1>

{% cycle 'darkgrey' 'grey' as bgcolour silent %}

<form action="" id="sessionForm" method="post">{% csrf_token %}

<table>
<tr> <th> </th> <th>Session</th>
{% for session in sessions %}
	{% cycle bgcolour %}
<tr style="background-color:{{bgcolour}}; padding-top:10px;">
	<div class="session">	
		<td><input type="radio" name="session" value={{session.session_id}}></td>
		<td>{{session.session_details}}</td>
	</div>
</tr>
{% endfor %}

</table>
</form>

<button type="submit" form="sessionForm" value="Submit"
        onclick="window.open('', '_self', '');">Play</button>

{% endblock %}
