{% extends "plain_base.html" %}

{% block content %}

<h1> Last Submitted Budget </h1>
<table border=2 style="width:600px;height:400px">

<col span="1" style="width: 10%;">
<colgroup>
{% for type in theBudget%}
	{% for value in type %}
       <col span="1" style="width: 5%;">
	{% endfor %}
{% endfor %}
</colgroup>

<tr>
  <th>Resource</th>
	<div class="resource">
	{% for resource in resources %}
		<th> {{resource.resource_name}} </th>
	{% endfor %}
</tr>

{% cycle 'A' 'B' 'C' as types silent %}

{% for type in budgetConfig %}
<tr>
	<th>Type {{types}}</th>
	{% for value in type %}
		<td>{{value}}</td>
	{% endfor %}
	{%cycle types%}
</tr>
{% endfor %}

</table> 


{% endblock %}

