{% extends "plain_base.html" %}

{% block content %}

<h3>Summary messages to display at the close of the {{plan}}th FYP</h3>

<form method="post" action="nextstate" id="end_msg" >{% csrf_token %}
{% for i in teams %}
	<div style="padding-top:30px" class="team">
	<b>Team {{i.team_id}}</b>
	<div style="float:top;height:250px">
	<div style="float:left;width:50px;">Public:</div> <textarea rows="10" name="{{i.team_id}}_-1" cols="80" style="float:left;width:500px;height:200px" placeholder="End Messages" required></textarea>
	</div>
	
	<div style="float:top;height:250px">
	<div style="float:left;width:50px;">MOP: </div><textarea rows="10" name="{{i.team_id}}_0" cols="80" style="width:500px;height:200px" placeholder="End Messages" required></textarea>
	</div>
	<div style="float:top;height:250px">
	<div style="float:left;width:50px;">MNRE: </div><textarea rows="10" name="{{i.team_id}}_1" cols="80" style="width:500px;height:200px" placeholder="End Messages" required></textarea>
	</div>
	<div style="float:top;height:250px">
	<div style="float:left;width:50px;">DAE: </div><textarea rows="10" name="{{i.team_id}}_2" cols="80" style="width:500px;height:200px" placeholder="End Messages" required></textarea>
	</div>
	</div>
{% endfor %}
</form>

<button type="submit" form="end_msg" value="Submit"
        onclick="window.open('', '_self', '');">End {{plan}}th FYP</button>

{% endblock %}
