{% extends "plain_base.html" %}

{% block content %}
<h1> Energy Numbers </h1>
<table border=2 style="width:300px">
<tr>
  <th> </th>
  <th> Cost of Generation( Rs/MW)</th>
  <th> Cost of Installation( Rs/MW)</th>
  <th> Carbon Emissions(gCO<sub>2</sub>/kwh)</th>
<tr>
{% for item1,item2 in output %}
<tr>
  <th>{{item1}}</th>
  <td>{{item2.cost_of_installation}}</td>
  <td>{{item2.cost_of_generation}}</td>
  <td>{{item2.carbon_emitted}}</td>
</tr>
{% endfor %}
</table> 


{% endblock %}

