{% extends "base.html" %}

{% block content %}

<h1>Ministry of Power</h1>


<div style:"float:left;"><img src='http://farm5.static.flickr.com/4065/4537342007_31db8e1e88_m_d.jpg' style='float:left;padding:10px'/></div>
<div style="float:left;width:500px;padding-top:20px;padding-left:20px;height:300px;overflow-y:scroll;padding-right:30px;">
<p class='roledesc'>You represent the Ministry of Power and you are responsible for all general policies 
			in electric power sector and issues relating to energy policy and coordination of the same. All matters relating to hydroelectric and thermal power fall under your purview. You will also be responsible for hydroelectric and thermal R&D, matters relating to multipurpose projects, administration of CAE, CEB, CERC and also responsible for the administration of the Electricity Act of 2003.  
			<br/><br/><br/><strong>Goals</strong><br/>
			Together with the Ministry of New and Renewable Energy (MNRE) and the Department of Atomic Energy (DAE) you will be 
			implementing the 12th and 13th plan laid out by the planning commission regarding the construction of electricity generation 
			capacity for the power sector in India. 
			During the 12th plan, <strong>70000MW</strong> of generation capacity needs to be constructed. The total allowed emissions for the 12th plan is <strong>395 Million tonnes of CO2.</strong> 
			For the 12th plan, the average generation cost per kWh has been set as <strong>Rs. 3 per kWh</strong>.
			<br/><br/> Your goal is to work with MNRE and DAE to come up with the energy-mix such 
			that the emissions don't exceed 395 Million tonnes of CO2 and the generation cost doesn't exceed Rs. 3 per kWh. You have a <strong>budget of Rs. 255000 crores</strong>. You are also required 
			to invest in Research and Development (R&D) and Operation and Maintenance (O&M). Spend too less on O&M and a part of the installed capacity won't work. It will be added to the 13th plan
			as spillover.
			<br/><br/>In the 13th plan, the total emissions is capped at <strong>461 Million tonnes</strong>. The minimum additional capacity needed is <strong>86000 MW</strong>. This will increase if you haven't met the target of 70000 MW
			of the 12th plan and if you have spent too less on O&M in the 12th plan. The average cost of generation for the 13th plan needs to be Rs. 3 per kWh. Your <strong>budget for 13th plan
			is Rs. 293250 crores</strong>.

</div>
<div style="float:left;padding-left:30px;"><p><a class="btn btn-primary" href="/mainpage">Play</a></p></div>

{% endblock %}


