{% extends "base.html" %}

{% block content %}

<h1>Department of Atomic Energy</h1>
<div style:"float:left;"><img src='http://farm1.static.flickr.com/153/377441742_05e243d634_m_d.jpg'style='float:left;padding:10px'/></div>
<div style="float:left;width:500px;padding-top:20px;padding-left:20px;height:300px;overflow-y:scroll;padding-right:30px;">
<p class='roledesc'>
			You are mainly responsible for development of nuclear technologies in the country, which include increasing 
			the share of nuclear power through the deployment of indigenous and other proven technologies, 
			development of Fast Breeder Reactors and thorium reactors and building operations research reactors. 
			You are also responsible for supporting basic research in nuclear energy and for interacting with 
			academic institutions in research and development of nuclear energy.
			<br/><br/><strong>Goals</strong><br/>
			Together with the Ministry of Power (MoP) and the Ministry of New and Renewable Energy (MNRE) you will be 
			implementing the 12th and 13th plan laid out by the planning commission regarding the construction of electricity generation 
			capacity for the power sector in India. 
			<br/><br/>During the 12th plan, <strong>70000MW</strong> of generation capacity needs to be constructed. The total allowed emissions for the 12th plan is <strong>395 Million tonnes of CO2.</strong> 
			For the 12th plan, the average generation cost per kWh has been set as <strong>Rs. 3 per kWh</strong>.
			<br/><br/>Your goal is to work with MNRE and DAE to come up with the energy-mix such 
			that the emissions don't exceed 395 Million tonnes of CO2 and the generation cost doesn't exceed Rs. 3 per kWh. You have a budget of Rs. 34000 crores. You are also required 
			to invest in Research and Development (R&D) and Operation and Maintenance (O&M). Spend too less on O&M and a part of the installed capcity won't work. It will be added to the 13th plan
			as spillover. Spending on R&D helps reduce the generation cost for 13th plan but spending too less on it will result in the average cost of generation remaining the same.
			<br/><br/>In the 13th plan, the total allowed emissions is <strong>461 Million tonnes</strong>. The minimum additional capacity needed is <strong>86000 MW</strong>. This will increase if you haven't met the target of 70000 MW
			of the 12th plan and if you have spent too less on O&M in the 12th plan. The average cost of generation for the 13th plan needs to be Rs. 3 per kWh. Your <strong>budget for 13th plan
			is Rs. 39100 crores</strong>.

</div>
<div style="float:left;padding-left:30px;"><p><a class="btn btn-primary" href="/mainpage">Play</a></p></div>


{% endblock %}


