{% extends "base.html" %}

{% block content %}

<h1>Ministry of New and Renewable Energy</h1>


<div style:"float:left;"><img src='http://farm1.static.flickr.com/12/92700728_c2d6a671c7_m_d.jpg' style='float:left;padding:10px'/></div>
<div style="float:left;width:500px;padding-top:20px;padding-left:20px;height:300px;overflow-y:scroll;padding-right:30px;">
<p class='roledesc'>
			The MNRE is the nodal ministry at the center for all matters relating to new and renewable energy. 
			You are responsible for facilitating research, design, development, manufacture and deployment of new 
			and renewable energy systems. You are also responsible for research and development of portable and 
			stationary applications in rural, urban and commercial sectors and setting standards, specifications 
			and performance parameters according to international standards.
			<br/><br/><br/><br/><br/><br/><br/><strong>Goals</strong><br/>
			Together with the Ministry of Power (MoP) and the Department of Atomic Energy (DAE) you will be 
			implementing the 12th and 13th plan laid out by the planning commission regarding the construction of electricity generation 
			capacity for the power sector in India. <br/><br/>
			During the 12th plan, <strong>70000MW</strong> of generation capacity needs to be constructed. The total allowed emissions for the 12th plan is <strong>395 Million tonnes of CO2.</strong> 
			For the 12th plan, the average generation cost per kWh has been set as <strong>Rs. 3 per kWh</strong>.
			<br/><br/> Your goal is to work with MNRE and DAE to come up with the energy-mix such 
			that the emissions don't exceed 395 Million tonnes of CO2 and the generation cost doesn't exceed Rs. 3 per kWh. You have a budget of Rs. 47000 crores. You are also required 
			to invest in Research and Development (R&D) and Operation and Maintenance (O&M). Spend too less on O&M and a part of the installed capacity won't work. It will be added to the 13th plan
			as spillover. Spending on R&D helps reduce the generation cost for 13th plan but spending too less on it will result in the average cost of generation remaining the same.
			<br/><br/>In the 13th plan, the total emissions is capped at <strong>461 Million tonnes</strong>. The minimum additional capacity needed is <strong>86000 MW</strong>. This will increase if you haven't met the target of 70000 MW
			of the 12th plan and if you have spent too less on O&M in the 12th plan. The average cost of generation for the 13th plan needs to be Rs. 3 per kWh. Your <strong>budget for 13th plan
			is Rs. 54050 crores</strong>.
			</p>

</div>
<div style="float:left;padding-left:30px;"><p><a class="btn btn-primary" href="/mainpage">Play</a></p></div>


{% endblock %}


