{% extends "plain_base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ formset.media }}
{% endblock %}

{% block content %}
    <div class = " ">
	<h1> The Indian Energy Game </h1>
    </div>

    <form class="form-{{ layout }}" action="" method="post" id="credentials">
        {% csrf_token %}

        {% bootstrap_formset formset=formset %}
    </form>

        <!--p><a class="btn btn-primary" href="/instructions1">Submit</a></p-->
	<button type="submit" form="credentials" value="Submit"
        onclick="window.open('', '_self', '');">Login</button>

	<div style="color:red">
		Username or Password not recognized.
	</div>


{% endblock %}
