{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% load mathfilters%}

{% block content %}

<SCRIPT TYPE="text/javascript">
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname,'width=680,height=530,left=400,top=370,resizable=yes,location=no,');
return false;
}
</SCRIPT>


<script src="jquery-1.11.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('.dropdown-menu').click(function(e) {
        e.stopPropagation();
    });
});
</script>

<script type="text/javascript">

$(document).ready(function(){
	$("input").keypress(function(event){
		if((event.which < 48 || event.which > 57) && (event.which!=8 && event.which!=13)){
			$("#inv_inp").show();
			event.preventDefault();
			this.style.color = "red"
		}
		else{
			$("#inv_inp").hide();
			this.style.color = "#555555"
		}
	});
	/*$("#budgetPost").click(function(event){
		var str = $('#budget').serialize();
		$.post('/recorddata',
          str,
          function(){
              $('#lasttime').html(currentdate.getHours() + ":" + currentdate.getMinutes());
          });
		return false;
	});*/
	$("#budgetPost").click(function(e){
		event.preventDefault();
		var currentdate = new Date();
		$.post( "/mainpage", $( "#budget" ).serialize(),
			function(data, status){
				if(data[0] == 'S')
					$('#lasttime').html(currentdate.getHours() + ":" + currentdate.getMinutes()) ;
				else
					alert(data);
			});
		//return false;
		});

	(function state_check() {
	  $.get('/mainpage/statecheck', function(data) {
	    // Now that we've completed the request schedule the next one.
	    //$('.result').html(data);
		if(data[0] == 'N')
			$('#ended').html("<h4> This Five Year Plan has ended. Please refresh the page to see how your team performed. </h4>");
		else
			$('#ended').html('');
	    	setTimeout(state_check, 30000);
	  });
	})();	
});
	

</script>
<script type="text/javascript">    
$(document).ready(function(){
$('#graph1').click(function(e) {
e.preventDefault();
var chart;
var chartData = {
    chart: {
        renderTo: 'chart',
	type: 'bar',
	width: 500,
	height: 240
     },
title: {
                text: 'Price/Kwh for this Department'
            },
            xAxis: {
                categories: [{% for resource in resources2 %}
					'{{resource}}', 
			     {% endfor %}],
		 title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Percentage of Total',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Amount of Resource',
                data: [{% for resource in resources2 %} 0, {% endfor %}]
            }, {
                name: 'Price/Kwh of Resource',
                data: [{% for resource in resources2 %} 0, {% endfor %}]
            }, ]};
$("input[id^='type']").change(function updateChartData(){
	var sum;
	var totalsum = 0;
	var count = 0;
	var amounts = [];
	{% for resource in resources2 %}
		totalsum = totalsum + parseInt($("input[id='type{{resource}}A']").val(),10) + parseInt($("input[id='type{{resource}}B']").val(),10) + parseInt($("input[id='type{{resource}}C']").val(),10);
	{% endfor %} 
	{% for resource in resources2 %}	
			sum = parseInt($("input[id='type{{resource}}A']").val(),10) + parseInt($("input[id='type{{resource}}B']").val(),10) + parseInt($("input[id='type{{resource}}C']").val(),10);
			chart.options.series[0].data[count] = (sum/totalsum)*100;
			amounts.push((sum/totalsum));
			count = count + 1;
	{% endfor %}
	count = 0;
	var resource_id = 0;
	var totalprice = 0;
	var pkwh = 0;
	{% for price in costofgeneration %}
		pkwh = pkwh + {{price}}
		count = count + 1;
		if(count%3 == 0)
		{
			totalprice = totalprice + (pkwh*amounts[resource_id])/3;
			resource_id = resource_id + 1;
			pkwh = 0;
		}
	{% endfor %}
	count = 0;
	resource_id = 0;
	pkwh = 0;
	{% for price in costofgeneration %}
			pkwh = pkwh + {{price}};
			chart.options.series[1].data[resource_id] = (pkwh*amounts[resource_id]*100/(3*totalprice));
			if((count+1)%3 == 0)
			{
				pkwh = 0;
				resource_id = resource_id + 1;
			}
			count = count + 1;
	{% endfor %}
	if(chart == undefined){
chart = new Highcharts.Chart(chartData);
}
else{
chart.options.chart.animation = false;
chart = new Highcharts.Chart(chart.options);
}
chart.render();
});
chart = new Highcharts.Chart(chartData);
chart.render();
});; //button click
}); //doc ready

</script>

<script type="text/javascript">    
$(document).ready(function(){
$('#graph2').click(function(e) {
e.preventDefault();
var chart;
var chartData = {
    chart: {
        renderTo: 'chart1',
	type: 'bar',
	width: 500,
	height: 240
     },
title: {
                text: 'Price/Kwh for this Team'
            },
            xAxis: {
                categories: [MoP, MnRE, DAE],
		 title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Percentage of Total',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Amount of Resources',
                data: [0,0,0]
            }, {
                name: 'Average Price/Kwh for the department',
                data: [0,0,0]
            }, ]};
$("input[id^='type']").change(function updateChartData(){
	var sum;
	var totalsum = 0;
	var count = 0;
	var amounts = [];
	{% for resource in resources2 %}
		totalsum = 10; 
	{% endfor %} 
	{% for resource in resources2 %}	
			sum = parseInt($("input[id='type{{resource}}A']").val(),10) + parseInt($("input[id='type{{resource}}B']").val(),10) + parseInt($("input[id='type{{resource}}C']").val(),10);
			chart.options.series[0].data[count] = (sum/totalsum)*100;
			amounts.push((sum/totalsum));
			count = count + 1;
	{% endfor %}
	count = 0;
	var resource_id = 0;
	var totalprice = 0;
	var pkwh = 0;
	{% for price in costofgeneration %}
		pkwh = pkwh + {{price}}
		count = count + 1;
		if(count%3 == 0)
		{
			totalprice = totalprice + (pkwh*amounts[resource_id])/3;
			resource_id = resource_id + 1;
			pkwh = 0;
		}
	{% endfor %}
	count = 0;
	resource_id = 0;
	pkwh = 0;
	{% for price in costofgeneration %}
			pkwh = pkwh + {{price}};
			chart.options.series[1].data[resource_id] = (pkwh*amounts[resource_id]*100/(3*totalprice));
			if((count+1)%3 == 0)
			{
				pkwh = 0;
				resource_id = resource_id + 1;
			}
			count = count + 1;
	{% endfor %}
	if(chart == undefined){
chart = new Highcharts.Chart(chartData);
}
else{
chart.options.chart.animation = false;
chart = new Highcharts.Chart(chart.options);
}
chart.render();
});
chart = new Highcharts.Chart(chartData);
chart.render();
});; //button click

}); //doc ready

</script>
<script type="text/javascript">    
$(document).ready(function(){
$('#graph3').click(function(e) {
e.preventDefault();
var chart = new Highcharts.Chart({
    chart: {
        renderTo: 'chart3',
	type:'pie',
	width: 500,
	height: 240
     },

series: [{
    data: [29.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 29.9, 71.5, 106.4]         
}] //series
}); //chart

chart.series[0].setData([29.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 29.9, 71.5, 106.4]);
//return false;
});; //button click

}); //doc ready

</script>
<script type="text/javascript">    
$(document).ready(function(){
$('#graph4').click(function(e) {
e.preventDefault();
var maxi = 0;
var mini = 10000000000000000000;
var chart;
var chartData = {
	    chart: {
        renderTo: 'chart4',
	type: 'column',
	width: 500,
	height: 240
     },
            title: {
                text: 'Carbon Emissions'
            },
            xAxis: {
                categories: ['Maximum','Present','Minimum']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Carbon Emitted (g)'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'grey'
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black, 0 0 3px black'
                        }
                    }
                }
            },
series: [ {% for j in resources2 %} 
		{
			name: '{{j}}',
			data: [0,0,0]
		},
		 {% endfor%}]};
$("input[id^='type']").change(function updateChartData(){
	var sum = 0;
	var count = 0;
	var count2 = 0;
	var resources = [];
	var types = []
	{% for resource in resources2 %}
		resources[count] = '{{resource}}';
		types[count2] = 'A';
		types[count2 + 1] = 'B';
		types[count2 + 2] = 'C';
		count = count + 1;
		count2 = count2 + 3;
	{% endfor %}
		count = 0;
	{% for emissions in carbonemissions %}
			var nam = 'type' + resources[parseInt(count/3)] + types[count];
			sum = sum + parseInt($("input[id=" + nam + "]").val(),10)*{{emissions}};
			count = count + 1;
			if(count%3 == 0)	
			{
				chart.options.series[parseInt((count-1)/3)].data[1] = sum;
				sum = 0;
			}
	{% endfor %}
	if(chart == undefined){
chart = new Highcharts.Chart(chartData);
}
else{
chart.options.chart.animation = false;
chart = new Highcharts.Chart(chart.options);
}
chart.render();
});
chart = new Highcharts.Chart(chartData);
chart.render();

});; //button click

}); //doc ready

</script>
<!--ul class="nav">
<li>{{userName}}</li>
</ul-->
&nbsp; {{userName}} 
<div style="float:top;height:110px;">
<div style="position:fixed;background-color:#F0F0F0;top:0px;">
 
    <div style="width:270px;top:0px;float:left;">
	<p style="color:#00B200;"> Money Spent = + 5000 </p>
   </div>
    <div style="width:270px;top:0px;float:left;">
        <p style="color:#00b200;"> Price/Kwh = + 5000 </p>
   </div>
    <div style="width:270px;top:0px;float:left;">
        <p style="color:#00b200;"> Carbon Emissions = + 5000 </p>
   </div>
     <div style="width:270px;top:0px;float:left;float:top;">
        <p style="color:#00b200;"> Power Required = + 5000 </p>
   </div>
</div>

<div style="height:100px;float:top">
<div>
<div class="navbar" style="width:600px;float:left;">
    <div class="navbar-inner">
        <div class="container">
<ul class="nav">

<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">R&D</a>
<ul class="dropdown-menu" style="width:230px">
<li><div class="input-prepend input-append" ><img src="http://sahacom.fi/en/img/rnd.png" alt="bin.jpg" style='padding-right:15px;width:30px;height:30px;'/><input type='number' size='10' name='rd' value=0 step='100' style="width:100px;" min=0> <button class="btn" type="button"><img src="http://www.yougen.co.uk/i/blog/134806476981942.jpg" alt="enter" style='padding-right:15px;width:18px;height:18px;'/> </button>
</div>
</li>
</ul>
</li>

<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">O&M</a>
<ul class="dropdown-menu" style="width:230px">
<li><div class="input-prepend input-append" ><img src="http://www.ratnainternational.com/imgs/icons/Operation%20&%20Maintenance%20Industry.PNG" alt="bin.jpg" style='padding-right:15px;width:30px;height:30px;'/><input type='number' size='10' name='rd' value=0 step='100' style="width:100px;" min=0>  <button class="btn" type="button"><img src="http://www.yougen.co.uk/i/blog/134806476981942.jpg" alt="enter" style='padding-right:15px;width:18px;height:18px;'/> </button>
</div>

</li>
</ul>
</li>

<li><a href="/power" onClick="return popup(this, 'pd')">Power Distribution</a></li>
<li><a href="/numbers" onClick="return popup(this, 'numbers')">Energy Numbers</a></li>
<li><a href="/notetaker" target="_newtab" >NoteTaker</a></li>
<li> <a href="/newnote" onClick="return popup(this, 'newnote')">&#43;</a></li>
</ul>
</div>
</div>
</div>





<div class="navbar" style="padding-left:60px;width:200px;float:left;height:100px;">
	<div class="navbar-inner">
		<div class="container">
<ul class="nav">
 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="float:right;" data-toggle="dropdown">Graphs<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a id="graph1">Graph1</a></li>
<li><a id="graph2">Graph2</a></li>
<li><a id="graph3">Graph3</a></li>
<li><a id="graph4">Graph4</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<!--/body-->
<div style="float:top; float:left;">
	<h3> {{fyp}}th Five Year Plan </h3>
	<p id="ended" style="color:red"></p>
    <h2>{{ministry}} </h2>
    
    <p>&nbsp;</p>
	<div style="height:200px;width:650px;float:top;">

	<form method="post" id="budget">{% csrf_token %}
	{% for resource, budget_values in resources %}
    <div class="resource.resource_name" style="background-color:#EEEEE;height:200px;width:200px;float:left;"> 
	{% with resource.resource_name as resource_name %}
        <p><b>{{resource_name}}</b></p>
	     <div class="input-prepend" ><span class="add-on">Type A</span><input type='number' size='10' id='type{{resource_name}}A' name='{{resource.resource_id|mul:3}}' value='{{ budget_values.0 }}' step='100' style="width:100px;" min=0></div> 
         <div class="input-prepend" ><span class="add-on">Type B</span><input type='number' size='10' id='type{{resource_name}}B' name='{{resource.resource_id|mul:3|add:1 }}' value='{{ budget_values.1 }}' step='100' style="width:100px;" min=0></div> 
        <div class="input-prepend" ><span class="add-on">Type C</span><input type='number' size='10' id='type{{resource_name}}C'  name='{{resource.resource_id|mul:3|add:2 }}' value='{{budget_values.2}}' step='100' style="width:100px;" min=0></div> 
	{% endwith %}
    </div>
	{% endfor %} 
	</div>
	</div>
	</form>
	<div style="float:left;">
	<div id="chart"></div>
	<div id="chart1"></div>
	<div id="chart3"></div>
	<div id="chart4"></div>
	</div>
</div>
<div style="position:fixed;left:85px;bottom:30px">
	<button type="submit" form="budget" id="budgetPost">Submit Configuration</button>
	<p style="color:grey;">Last configuration submitted at <a id="lasttime" href="/currentval" onClick="return popup(this, 'currentval')">Never</a></p>
    <p style="color:red;display:none;" id="inv_inp" style="float:bottom;">Please enter positive numeric values</p>
</div>
{% endblock %}
