{% extends "plain_base.html" %}

{% block content %}



<h2>Message Bank</h2>
<div style="padding-top:10px;padding-bottom:20px">
Click on one of the following default messages to fill into the body of your
message. You may edit the message before sending it. You will also have to
provide the title yourself.
</div>

{% cycle '#C8C8C8' '#D8D8D8' as colours silent %}

{% for message in message_bank %}
{% cycle colours %} 
<div class="messagebank" style="padding-bottom:5px">
<div style="background-color:{{colours}};padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;cursor:pointer"
	onclick="location.href='/newmessage/{{message.message_id}}';">	
{{message.contents}}
</div>
</div>
{% endfor %}

{% endblock %}
