{% extends "plain_base.html" %}

{% block content %}

<h1> New Note </h1>

<div style="float:top;width:400px">

<form method="post" action="newnote" id="note" >{% csrf_token %}

{% if role == -1 %}
	<div style="background-color:lightgrey">
	Recipient:
	<div style="padding-left:10px;">
	<select name="team" style="padding-left:15px;">
		{% for team in Teams %}
		<option value="{{team}}">Team {{team}}</option>
		{% endfor %}
	</select>

	{% cycle 0 1 2 3 as role_id silent %}
	<select name="role" style="padding-left:15px;">
		{% for theRole in Roles %}
		<option value="{{role_id}}">{{theRole}}</option>
		{% cycle role_id %}
		{% endfor %}
	</select>
	</div>
	</div>
{%endif%}

<input type="text" name="title" rows="1" cols="80" style="width:600px;" placeholder="Note Title" required>
<textarea rows="10" name="content" cols="80" style="width:600px;height:370px" placeholder="Note Content" required></textarea>

</form>

</div>

<!--p><a class="btn btn-primary" href="/buttons">Add Note</a></p-->
<div style="float:top;width:400px">

<button type="submit" form="note" value="Submit"
        onclick="window.open('', '_self', '');">Add Note</button>
<button type="button" 
        onclick="window.open('', '_self', ''); window.close();">Cancel</button>
</div>
{% endblock %}

