{% extends "plain_base.html" %}

{% block content %}

<SCRIPT TYPE="text/javascript">
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname,'width=340,height=400,left=400,top=30,resizable=yes,location=no,');
return false;
}
</SCRIPT>

<h2>Create New Session</h2>

<form method="post" action="newsession" id="newteams">{% csrf_token %}

<div style="padding-top:20px;padding-left:20px;float:bottom;">
{% if teamsEntered %}
Session info: {{sessionInfo}}
<br>
Teams: {{teamsEntered}}
<br>
Enter User IDs separated by spaces:
<br>
<i>For reference</i><a class="btn btn-primary" href="/userlist" onClick="return popup(this, 'userlist')">List of Users</a>
{% else %}
Session info: <input type="text" id="teams" name="session_details" placeholder="Session name" style="width:200px" required />
<br>
Teams: <input type="text" id="teams" name="teams" placeholder=">=1" style="width:30px" required />
{% endif %}
</div>

{% cycle 'grey' 'darkgrey' as rowcolour silent%}
{% for team in newTeams %}
	{% cycle rowcolour %}
	<div style="float:bottom;width:300px;padding-left:30px;padding-top:10px;background-color:{{rowcolour}};">
	<p>Team ID: {{team}}</p>
	<p style="padding-left:10px;">
		MOP:  &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="mop{{team}}" name="0{{team}}" placeholder="Users" style="width:50px" required />
		<br>
		MNRE: &nbsp;<input type="text" id="mnre{{team}}" name="1{{team}}" placeholder="Users" style="width:50px" required />
		<br>
		DAE:  &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="dae{{team}}" name="2{{team}}" placeholder="Users" style="width:50px"required  />
	</p>
	</div>
{% endfor %}

</form>

<button type="submit" form="newteams" value="Submit"
        onclick="window.open('', '_self', '');">Submit</button>
{% endblock %}
