{% extends "plain_base.html"%}

{% block content %}

<h4>Add User</h4>

<form method="post" action="newuser" id="userpwd" style="padding-top:10px;pading-bottom:10px;">{% csrf_token %}
<div style="float:top;height:60px;">
Username: <input type="text" name="name" rows="1" cols="80" style="width:100px;" placeholder="name" required>
</div>
<div style="float:top;height:60px;">
Password: <input type="password" name="password" rows="1" cols="80" style="width:100px;" placeholder="password" required>
</div>
</form>

<button type="submit" form="userpwd" value="Submit"
        onclick="window.open('', '_self', '');">Add User</button>

{% endblock%}
