{% extends "plain_base.html" %}

{% block content %}

<div class="notes">

<div style="float:top;"><h2> {{note.note_title}} </h2></div>
<div style="grey;float:top;"><time datetime="{{note.timestamp|time:"c"}}">{{note.timestamp|time}}</time></div>

<div style="float:top;padding-top:15px;padding-left:30px;padding-bottom:30px;width:550px;">
<!--p><a class="btn btn-primary" href="/buttons">Add Note</a></p-->

{{note.note_content}}

</div>

<button type="button" style="float:bottom;"
        onclick="window.open('', '_self', ''); window.close();">Close</button>
</div>
{% endblock %}

