{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<script type="text/javascript">
<!--
var counter = 0;
function noteTakerPopup() {
window.open( "/newnote", "New Note", 
"status = 1, height = 530, width = 680, resizable = 0" );
}
function noteDisplayPopup(noteName) {
var url = "/notedisplay?note=";
var req = url.concat(noteName);
window.open( req, "View Note", 
"status = 1, height = 530, width = 680, resizable = 0" );
}

//-->
</script>

<h1> {{ministry}} </h1>

<div style="color:blue;float:left;width:200px;padding-top:50px">
	<button type="button" style="color:green;float:left"> Information </button>
</div>

<div style="float:left;">
	<div style="float:top;height:50px;">
		<form method="post">{% csrf_token %}
		<input type="text" id="search" name="Search" placeholder="Search" style="width:500px"/>
		</form>
	</div>
<div style="float:top;background-color:lightgrey;height:600px">
	<div style="float:top;height:50px;padding-left:20px;padding-top:20px;width:800px;">
		<div style="width:300px;float:left"><input type="button" value="New Note" style="background-color:orange;float:left" onClick="noteTakerPopup()"/></div>
		<div style="float:left;"><input type="text" id="flags" name="Flags" placeholder="Flags" style="width:100px"></div>
	</div>
	<div style="float:top;padding-left:20px;height:40px">
		<div style="float:left;background-color:grey;width:68px;padding-left:10px"><h4>Inbox</h4></div>
		<div style="float:right;"><img src="http://i.imgur.com/E391L5m.jpg" alt="bin.jpg" style='padding-right:15px;width:30px;height:30px;'/></div>
	</div>

	<div style="float:bottom;background-color:grey;padding-left:10px">
		{% for note in notes %}
		<div class="notes" style="padding-top:5px">
			<a style="color:black" href="javascript:void(0);" onClick="noteDisplayPopup('{{note.note_id}}')">{{note.note_title}}</a>
			<div style="float:right;"><time datetime="{{note.timestamp|time:"c"}}">
        	        	{{note.timestamp|time}}
	                </time></div>

		</div>
		<hr>
		{% endfor %}

	</div>
</div>
</div>
{% endblock %}

