{% extends "base.html" %}

{% block content %}

<h4> O&M  </h4>


<div class="input-prepend" ><span class="add-on">O&M</span><input name = 'om' type='number' size='10' id='numberinput' name='mynumber' value='0' step='100' style="width:100px;"></div>

<p> Percentage of Budget allotted to O&M: 10%<p>
{% endblock %}

