{% extends "base.html" %}

{% block content %}

<h1> Power Distribution </h1>
<table border=3 style="width:300px">
<tr>
  <th>Energy Source</th>
  <th>Power Distribution for the year 2012</th>
  <th> Power Distribution for the year 2011</th>
<tr>
<tr>
  <th>Coal</th>
  <td>60</td>
  <td>55</td>
</tr>
<tr>
  <th>Natural Gas</th>
  <td>20</td>
  <td>12</td>
</tr>
<tr>
  <th>Hydel</th>
  <td>5</td>
  <td>2.3</td>
</tr>

<tr>
  <th>Solar</th>
  <td>3.45</td>
  <td>2.30</td>
</tr>
<tr>
  <th>Wind</th>
  <td>3.45</td>
  <td>2.30</td>
</tr>
<tr>
  <th>Nuclear</th>
  <td>3.45</td>
  <td>2.30</td>
</tr>


</table> 


{% endblock %}


