<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> The Indian Energy Game </title>
    <meta name="description" content="">
    <meta name="author" content="Anisha Nazareth and Yashvanth Kondi">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 10px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="jquery-1.11.1.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <!--footer class="row" style="position:fixed;bottom:0px;">
        <div class="span6">
            <p> <a href="https://bitbucket.org/ykondi/the-indian-energy-game">Indian Energy Game</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="www.fieldsofview.in">Fields of View</a> 2014
            </p>
        </div>
    </footer-->
</div> <!-- container -->

</body>
</html>
