{% extends "base.html" %}

{% block content %}

<h4> R&D  </h4>


<div class="input-prepend" ><span class="add-on">R&D</span><input type='number' name = 'rd' size='10' id='numberinput' name='mynumber' value='0' step='100' style="width:100px;"></div>

<p> Percentage of Budget allotted to R&D: 10%<p>
{% endblock %}
