{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname,'width=680,height=530,left=400,top=370,resizable=yes,location=no,');
return false;
}

var counter = 0;
function newSessionPopup() {
window.open( "/newsession", "New Session", 
"status = 1, height = 530, width = 390, resizable = 0" );
}
function noteTakerPopup() {
window.open( "/newmessage", "New Message", 
"status = 1, height = 530, width = 680, resizable = 0" );
}
function addConstraints() {
window.open("/addconstraints","Constraints", 
"status = 1, height = 530, width = 680, resizable = 0" );
}
function nextState() {
window.open("/nextstate","Next State", 
"status = 1, height = 530, width = 680, resizable = 0" );
}
//-->
</script>



<h2>Manage Session {{sessionid}}</h2>
<div style="width:300px;float:left;padding-top:20px;padding-bottom:20px;padding-right:10px;"><input class="btn btn-primary" type="button" value="Send Message" style="background-color:orange;float:left" onClick="noteTakerPopup()"/></div>
<div style="float:left;padding-left:30px;">
<div style="width:300px;float:left;padding-top:20px;padding-bottom:20px;padding-right:10px;"><input class="btn btn-primary" type="button" value="Set Constraints" style="background-color:orange;float:left" onClick="addConstraints()"/></div>
<div style="float:left;">Session State: {{state}}</div>
<div style="float:left;padding-left:30px;"><input class="btn btn-primary" type="button" value="{{next_state_action}}" style="background-color:orange;float:left" onClick="nextState()"/></div>
<table border=2 style="width:1000px;">

<tr style="background-color:grey;height:100px;"> <th>ID</th> <th>Members</th>  <th>Last Budget</th></tr>

{% for i in teams.items %}
<tr>
	<td>Team {{i.0}}</td>
	{% cycle 'MOP' 'MNRE' 'DAE' '' as ministry silent %}
	<td>
	{%for j in i.1 %}  
		<strong>{{ministry}}: </strong>
		{% for k in j %}
			{{k}}; 
		{% endfor %}<br>
		{% cycle ministry %}
	{% endfor %}
	</td>
	<td><a id="lasttime" href="/budget/{{i.0}}" onClick="return popup(this, 'currentval')">View</a></td>
</tr>
{% endfor %}

</table>


</div>

<!--div style="float:bottom;padding-top:30px;"><input type="button" value="New Session" style="background-color:orange;float:bottom;" onClick="newSessionPopup()"/></div-->

	
{% endblock %}
