{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
<!--
var counter = 0;
function newSessionPopup() {
window.open( "/newsession", "New Session", 
"status = 1, height = 530, width = 390, resizable = 0" );
}
function newUserPopup() {
window.open( "/newuser", "New Session", 
"status = 1, height = 150, width = 150, resizable = 0" );
}
//-->
</script>



<h2>The Indian Energy Game</h2>

<table border=2 style="width:1000px;">

<tr style="background-color:grey;height:100px;"> <th>ID</th> <th>Session Details</th> <th>Action</th> </tr>

{% for i in sessions %}
<tr>
	<div class="session">
	<td>{{i.session_id}}</td>
	<td>{{i.session_details}}</td>
	<td style="width:50px;"><a class="btn btn-primary" href="/controlsession/{{i.session_id}}">Control</a></td>
	</div>
</tr>
{% endfor %}

</table>

<div style="float:bottom;padding-top:30px;"><input type="button" value="New Session" style="background-color:orange;float:bottom;" onClick="newSessionPopup()"/></div>
<div style="float:bottom;padding-top:30px;"><input type="button" value="New User" style="color:white;background-color:green;float:bottom;" onClick="newUserPopup()"/></div>


{% endblock %}
