{% extends "base.html" %}

{% block content %}

{{userName}}

<h1> Summary for {{ministry}}</h1>
<h1>in the {{fyp}}th Five Year Plan </h1>

<div class="endmessage" style="padding-top:30px;padding-left:20px;width:600px">

<h3> Overall Team Performance </h3>
{{public_messages.message}}
<br>
<h3> Ministry Performance </h3>
{{role_messages.message}}

</div>

{% endblock %}

