{% extends "plain_base.html" %}

{% block content %}

<h2> Users </h2>
<table border=2 style="width:290px;">

<tr> <th style:"width:20px">ID</th> <th>User</th> </tr>

{% for user in users %}
<tr>
<div class="user">
	<td>{{user.user_id}}</td>
	<td>{{user.user_name}}</td>
</div>
</tr>
{% endfor %}

</table> 


{% endblock %}

